
#project-image{
  width: 500px;
  height: auto;
  padding: 10px;
}

.projects{
  display: grid;

  gap: 30px;
}
.projects h1{
  text-align: center;
}
.project{
  display: flex;
  gap: 20px;
  background-color: #17364a;
  padding: 20px;
  border-radius: 10px;
}
#tools-used-1{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  pointer-events: none;
}

#tools-used-1 div{
  border: #D6CC99 solid;
  border-radius: 15px;
  color: #D6CC99;
  padding: 10px;
  margin-left: 10px;
}

#project-links{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  justify-content: center;
}

#project-links a div{
  border: #71b27c solid;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #71b27c;
}


.project h2{
  text-align: center;
}

.project.no-img{
  justify-content: center;
}

.project.left{
  flex-direction: row;
}
.project.right{
  flex-direction: row-reverse;
}

@media (max-width: 800px){
  .projects{
    max-width: 100%;
  }
  .project.left, .project.right{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}